body {
   background-color: #1f1f1f;

}


.player {
   position: absolute;
}

.iframe-video {
   text-align: center;
   display: inline-block;
   position: relative;
   overflow: hidden !important;
   width: 650px;
   height: 380px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.wrapper {
   text-align: center;
   width: 1205px;
   margin-top: 60px;
   margin-bottom: 30px;
   margin-left: 20px;
   margin-right: 20px;
}


div#controls_bar {
   border-radius: 8px;
   padding: 10px;

}

button {
   border-radius: 8px;  
   color: white;
   background-color: #9acd3270;
   font-size: 18px;
}
@media screen and (max-width: 368px) { 

   .video_frame {
     
      width: 20%;
      height: 10%;
     
  }
  .wrapper {
   margin-top:  10px;
  
   margin-right: 5px;
   margin-left: 5px;
  
   
}
.text-center {
   text-align: center;
}
.iframe-video {
   width: 400px;
   height: 285px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;

}
}
